<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seriously? {% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/trivia.css') }}">
</head>
<body>
<h1>Yeah, seriously.</h1>
<p>This is a tiny web page
   to for testing our html page server.
   It should appear as formatted HTML in the browser.
</p>
<p>The page background should be greenish.  This text should be red.</p>
{% block content %} {% endblock %}
</body>
</html>